* {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
}

.menu_item {
    background-color: rgb(90,0,172);
    border-radius: 8px;
    padding: 5px;
    color: white;
}


h1 {
    color: white;
    font-size: 14;
}

h2 {
    color: white;
    font-size: 12;
}

p {
    color: white;
}

button {
    margin-top: 40px;
    color: white;
    font-size: 15px;
    background-color: rgb(90,0,172);
    border-radius: 5px;
    border-color: rgb(80, 0, 155);
    padding: 10px;
}